<?xml version="1.0"?>

<configuration>
  <configSections>
    <!-- Removed system.web.webPages.razor as it's not needed in ASP.NET Core -->
  </configSections>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <!-- Removed system.web as it's not needed in ASP.NET Core -->
</configuration>
